<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>我的路由器</title>

<style type="text/css">
.MenuItem {
	font-size: small;
	color: #005555;
	line-height: 15pt;
}

.MenuItem a:link, a:visited {
	color: #005555;
	text-decoration: none;
}

.MenuItem a:hover, a:active {
	color: #00bbbb;
	text-decoration: none;
}

.MenuGroup {
	color: #009999;
	font-size: medium;
	line-height: 25pt;
}
.ContentBody {
	font-size: small;
	background-color: #EEEEEE;
}
.ContentTitle {
	color: #009999;
	background-color: #c7dec6;
	font-size: medium;
}
.SelectClass
{
	width: 40%;
	text-align: center;
}
.SelectClass option
{
	text-align: center;
}
</style>
<script type="text/javascript">

</script>
</head>

<body>
<h1><span style="color: #033;">我的路由器</span></h1>
<table width="70%" border="0">
  <tr>
    <td width="30%" valign="top" class="MenuItem">
    <div style="background-color: #eeeeee; border: 1px solid #003333; border-radius: 5px; padding: 20px">
      <span class="MenuGroup">网络参数</span><br>
      <li><a href='/status'>运行状态</a></li>
      <li> <a href="/wanPort">WAN口设置</a></li>
      <li><a href="/lanPort">LAN口设置</a><br>
        <span class="MenuGroup">无线接入</span><br>
        <li><a href="/wlanPort">无线端口设置</a></li>
        <li><a href="/wirelessClientList">接入设备列表</a><br>
          <span class="MenuGroup">DHCP服务器</span><br>
        <li><a href="/dhcpServer">DHCP服务</a></li>
        <li> <a href="/clientList">客户端列表</a><br>
          <span class="MenuGroup">系统设置</span><br>
        <li><a href="/changePassword">修改登录口令</a></li>
          <li> <a href="/reboot">重启路由器</a> </li>
        </li>
          </li>
          </li>
    </div></td>
    <td width="10%">&nbsp;</td>

		<form action="/submitWanPort" method="post">

		</form>

    <td width="60%" valign="top">
    <table width="100%" border="0" cellpadding="5" cellspacing="0">
      <tr>
        <td colspan="3" class="ContentTitle">设置WAN口基本参数</td>
      </tr>
      <tr class="ContentBody">
        <td width="11%">&nbsp;</td>
        <td align="right" width="36%">&nbsp;</td>
        <td >&nbsp;</td>
      </tr>
			<tr class="ContentBody">
        <td width="11%">&nbsp;</td>
        <td align="right" >WAN口连接类型：</td>
        <td align="left">
					<select class="SelectClass" id="SelectOption" onchange="setTabel(this.value)">
        		<option value="0">自动获得IP地址</option>
						<option value="1">固定IP地址</option>
						<option value="2">宽带拨号上网</option>
        	</select>
				</td>
      </tr>
      <tr class="ContentBody" name="0">
        <td width="11%">&nbsp;</td>
        <td align="right" >IP地址：</td>
        <td>{{autoIpAddress}}</td>
      </tr>
      <tr class="ContentBody" name="0">
        <td>&nbsp;</td>
        <td align="right">子网掩码：</td>
        <td>{{autoNetmask}}</td>
      </tr>
      <tr class="ContentBody" name="0">
        <td>&nbsp;</td>
        <td align="right">默认网关：</td>
        <td>{{autoGateWay}}</td>
      </tr>
      <tr class="ContentBody" name="0">
        <td>&nbsp;</td>
        <td align="right">IPv6：</td>
        <td>{{autoIpv6}}</td>
      </tr>
      <tr class="ContentBody" name="0">
        <td>&nbsp;</td>
        <td align="right">DNS：</td>
        <td>{{autoDNS}}</td>
      </tr>

			<tr class="ContentBody" name="1">
				<td>&nbsp;</td>
				<td align="right" >IP地址：</td>
				<td ><input type="text" name="ipAddress" value="{{staticIpAddress}}"></td>
			</tr>
			<tr class="ContentBody" name="1">
				<td>&nbsp;</td>
				<td align="right" >子网掩码：</td>
				<td ><input type="text" name="netmask" value="{{staticNetmask}}"></td>
			</tr>
			<tr class="ContentBody" name="1">
				<td>&nbsp;</td>
				<td align="right" >网关：</td>
				<td ><input type="text" name="geteway" value="{{staticGateWay}}"></td>
			</tr>
			<tr class="ContentBody" name="1">
				<td>&nbsp;</td>
				<td align="right" >DNS服务器：</td>
				<td ><input type="text" name="dns" value="{{staticDNS}}"></td>
			</tr>

			<tr class="ContentBody" name="2">
        <td>&nbsp;</td>
        <td align="right" >宽带账号：</td>
        <td ><input type="text" name="username" value=""></td>
      </tr>
			<tr class="ContentBody" name="2">
        <td>&nbsp;</td>
        <td align="right" >宽带密码：</td>
        <td ><input type="text" name="username" value=""></td>
      </tr>
			<tr class="ContentBody" name="2">
        <td width="11%">&nbsp;</td>
        <td align="right" >IP地址：</td>
        <td>0.0.0.0</td>
      </tr>
			<tr class="ContentBody" name="2">
        <td width="11%">&nbsp;</td>
        <td align="right" >DNS：</td>
        <td>0.0.0.0</td>
      </tr>
			<tr class="ContentBody">
        <td>&nbsp;</td>
        <td align="right" >&nbsp;</td>
        <td >&nbsp;</td>
      </tr>
    </table>
		<p><input type="button" class="ContentBody" value="保存" onclick="">
    </td>
  </tr>
</table>
<script type="text/javascript">
	window.onload = function(obj)
	{
		setTabel({{option}});
	}

	function setTabel(obj)
	{
		var trArray = document.getElementsByClassName("ContentBody");
		for (var i = 2; i < trArray.length - 2; i++)
		{
			// console.log(trArray[i].getAttribute("name"));
			if(trArray[i].getAttribute("name") != obj)
			{
				trArray[i].style.display = "none";
			}
			else
			{
				trArray[i].style.display = "table-row";
			}
		}

		// if(obj == 1 || obj == 2)
		// {
		// 	trArray[trArray.length - 1].style.display = "inline-block";
		// }
		// else
		// {
		// 	trArray[trArray.length - 1].style.display = "none";
		// }
	}
</script>
</body>
</html>
